<!DOCTYPE=html>
<html>
	<head>
		<link rel="stylesheet" href="../stylesheets/got.css" />
		<script type="text/javascript" src='../data/got_characters.js'></script>
		<script type="text/javascript" src='../libs/underscore.js'></script>
		<script type="text/javascript" src='../libs/jquery.js'></script>
		<script type="text/javascript" src='../libs/jquery-ui.js'></script>
		<script type="text/javascript" src='../javascript/got.js'></script>
  </head>
  <body>
		<div class="header-section">
			<h1>Game of Thrones Death Poll - who will die?</h1>
			<h3>Episode 3 is the big battle, pick  who you think will die, and who will survive.</h3>
			<h4>Rules</h4>
			<ul>
				<li><h4>In each section a selected character will give X points if they die, or subtract X points if they survive.</h4></li>
				<li><h4>If they are unconfirmed (looks like they died but it's not certain, i.e. off screen) there will be no gain or loss.</h4></li>
				<li><h4>If they die, and you left them in the "survive" column, you lose 1 point.</h4></li>
			</ul>
		</div>

		<div class="checkbox-section">

			<div class='table-header row'>
				<h3>Character</h3>
				<h3>Survives</h3>
				<h3>Might Die (1)</h3>
				<h3>Probably Die (2)</h3>
				<h3>Definitely Die (4)</h3>
			</div>
			<form>
				<ul class='checkbox-form'>
				</ul>
				<label>Lastely, Insert your name</label>
				<input type='text' label='Name' placeholder="Insert Name Here" />
				<button class="check-form"> Submit </button>
			</form>
		</div>

  </body>
</html>
