<!DOCTYPE=html>
<html>
	<head>
		<link rel="stylesheet" href="../stylesheets/poketype.css" />
		<script type="text/javascript" src='../libs/underscore.js'></script>
		<script type="text/javascript" src='../libs/jquery.js'></script>		
		<script type="text/javascript" src='../libs/jquery-ui.js'></script>
		<script type="text/javascript" src='../libs/gridstack.all.js'></script>
		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    	<script type="text/javascript" src="../javascript/poketype.js"/> </script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

	</head>
	<body>
		<div class=page-cover>
			<span class='loading-message'>Fetching data from server </span>
			<div class="spinner-container">
				<canvas id="myChart" class="loading-spinner"></canvas>
			</div>
		</div>	
		<div class="header content">
			<div class="nav-buttons container">
				<a class="button all-types is-checked" data-filter="*">All</a>

			</div>
		</div>	

		<div class="body content">
			<div class="wrapper">
				<div class="pokemon-dump container"></div>
			</div>
		</div>
	</body>
</html>