body {
  padding: 20px;
}

.header-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-section {
  display: flex;
  flex-direction: row;
  width: 100%,auto;
  align-items: center;
}

.row {
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px grey;
  display: flex;
  flex-direction: row;
  width: 50%
}
.input-wrapper {
  min-width: 15%;
  justify-content: center;
  align-items: center;
}
.droppable {
  border: solid 1px black;
  margin: 10px;
  min-height: 100px;
  width: 20%;
}

.character-header {
  background-color: lightgrey;
  padding: 5px;
  font-weight: bold;
}

.character {
  padding: 5px;
  width: 120px;
}

ul>li>p {
  margin: 0;
}

.table {
  width: 50%;
}

.graph {
  width: 50%;
  border-bottom: 1px solid;
  padding: 10px 0;
}

@media only screen and (max-width: 666px){
  .graph {
    width: 100%;
  }
}

.graph-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
